swagger: "2.0"
info:
  title: "gizumo_wiki"
  version: "1.0.0"
host: "api.wiki.gizumo-inc.work"
basePath: "/api"
schemes:
  - "http"
paths:
  '/me':
    post:
      tags:
        - "Auth"
      summary: "認証トークン作成"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "email"
          in: "formData"
          description: "メールアドレス"
          required: true
          type: "string"
        - name: "password"
          in: "formData"
          description: "パスワード"
          required: true
          type: "string"
      responses:
        200:
          description: ""
    get:
      tags:
        - "Auth"
      summary: "ログインユーザー情報取得"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "トークン"
          required: true
          type: "string"
      responses:
        200:
          description: ""
  '/logout':
    get:
      tags:
        - "Auth"
      summary: "ログアウト"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "トークン"
          required: true
          type: "string"
      responses:
        200:
          description: ""
  '/user':
    get:
      tags:
        - "User"
      summary: "ユーザー一覧取得"
      produces:
        - "application/json"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
      responses:
        200:
          description: ""
    post:
      tags:
        - "User"
      summary: "ユーザー登録"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "name"
          in: "formData"
          description: "ユーザーネーム"
          required: true
          type: "string"
        - name: "email"
          in: "formData"
          description: "メールアドレス"
          required: true
          type: "string"
        - name: "password"
          in: "formData"
          description: "パスワード"
          required: true
          type: "string"
      responses:
        200:
          description: ""
  '/user/{id}':
    get:
      tags:
        - "User"
      summary: "ユーザー詳細取得"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "id"
          in: "path"
          description: "ユーザーID"
          required: true
          type: "string"
      responses:
        200:
          description: ""
    put:
      tags:
        - "User"
      summary: "ユーザー更新"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "id"
          in: "path"
          description: "ユーザーID"
          required: true
          type: "integer"
        - name: "name"
          in: "formData"
          description: "ユーザーネーム"
          required: true
          type: "string"
        - name: "email"
          in: "formData"
          description: "メールアドレス"
          required: true
          type: "string"
        - name: "password"
          in: "formData"
          description: "パスワード"
          required: true
          type: "string"
        - name: "last_name"
          in: "formData"
          description: "苗字"
          required: false
          type: "string"
        - name: "first_name"
          in: "formData"
          description: "名前"
          required: false
          type: "string"
      responses:
        200:
          description: ""
    delete:
      tags:
        - "User"
      summary: "ユーザー削除"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "id"
          in: "path"
          description: "ユーザーID"
          required: true
          type: "integer"
      responses:
        200:
          description: ""
  '/user/info':
    post:
      tags:
        - "User"
      summary: "ユーザー詳細取得"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "password"
          in: "path"
          description: "現在のパスワード"
          required: true
          type: "string"
        - name: "new_password"
          in: "path"
          description: "新しいパスワード"
          required: true
          type: "string"
        - name: "new_password_confirm"
          in: "path"
          description: "新しいパスワード確認用"
          required: true
          type: "string"
      responses:
        200:
          description: ""
  '/article':
    get:
      tags:
        - "Article"
      summary: "記事一覧取得"
      produces:
        - "application/json"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
      responses:
        200:
          description: ""
    post:
      tags:
        - "Article"
      summary: "記事登録"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "title"
          in: "formData"
          description: "記事のタイトル"
          required: true
          type: "string"
        - name: "content"
          in: "formData"
          description: "記事の内容"
          required: false
          type: "string"
        - name: "user_id"
          in: "formData"
          description: "ユーザーID"
          required: true
          type: "integer"
        - name: "category_id"
          in: "formData"
          description: "カテゴリーID"
          required: false
          type: "integer"
      responses:
        200:
          description: ""
  '/article/{id}':
    get:
      tags:
        - "Article"
      summary: "記事詳細取得"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "id"
          in: "path"
          description: "ユーザーID"
          required: true
          type: "string"
      responses:
        200:
          description: ""
    put:
      tags:
        - "Article"
      summary: "記事更新"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "id"
          in: "path"
          description: "ユーザーID"
          required: true
          type: "integer"
        - name: "title"
          in: "formData"
          description: "記事のタイトル"
          required: true
          type: "string"
        - name: "content"
          in: "formData"
          description: "記事の内容"
          required: false
          type: "string"
        - name: "user_id"
          in: "formData"
          description: "ユーザーID"
          required: true
          type: "integer"
        - name: "category_id"
          in: "formData"
          description: "カテゴリーID"
          required: false
          type: "integer"
      responses:
        200:
          description: ""
    delete:
      tags:
        - "Article"
      summary: "記事削除"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "id"
          in: "path"
          description: "ユーザーID"
          required: true
          type: "integer"
      responses:
        200:
          description: ""
  '/category':
    get:
      tags:
        - "Category"
      summary: "カテゴリー一覧取得"
      produces:
        - "application/json"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
      responses:
        200:
          description: ""
    post:
      tags:
        - "Category"
      summary: "カテゴリー登録"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "name"
          in: "formData"
          description: "カテゴリー名"
          required: true
          type: "string"
      responses:
        200:
          description: ""
  '/category/{id}':
    put:
      tags:
        - "Category"
      summary: "カテゴリー更新"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "id"
          in: "path"
          description: "ユーザーID"
          required: true
          type: "integer"
        - name: "name"
          in: "formData"
          description: "カテゴリー名"
          required: true
          type: "string"
      responses:
        200:
          description: ""
    delete:
      tags:
        - "Category"
      summary: "カテゴリー削除"
      consumes:
        - "application/x-www-form-urlencoded"
      parameters:
        - name: "Authorization"
          in: "header"
          description: "認証トークン"
          required: true
          type: "string"
        - name: "id"
          in: "path"
          description: "ユーザーID"
          required: true
          type: "integer"
      responses:
        200:
          description: ""